parameters:
  level: 6
  paths:
    - plugins
  ignoreErrors:
    - '#Constant [A-Z_]+ not found#'
    - '#Else branch is unreachable because ternary operator condition is always true#'
    - '#with no value type specified in iterable type array#'
    - '#Access to an undefined property object::\$data#'
  bootstrapFiles:
    - vendor/autoload.php
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
